---
layout: single
title: ''
permalink: /publication/
author_profile: true
---

<h1 class="mt-4">Publications</h1>
{% assign publications = site.publications | sort: "year" | reverse %}
{% for pub in publications %}
<div class="pubitem">
    <div class="pubtitle">
        <h6> Machine Learning Classifiers Help to Manage COVID-19 Distribution in China</h6>
    </div>
    <div class="pubauthors">
      <h5> Wei Jiaming, Mingxuan Yao, Alsahfi Zakaria, Ye Taiping, Snir Eli, Rahmani Bahareh </h5> 
    </div>
    <div class="pubinfo">
        <h7>Scientific Report/Springer Nature, 2022</h7>
    </div>
    <div class="pubteaser">
        <a href="{{pub.url}}">
            <img src="/images/covdi19.jpg" alt="{{pub.slug}} publication teaser"/>
        </a>
    </div>
    <div class="publinks">
        <a href="/files/Machine_Learning_Classifiers_Help_to_Manage_COVID-.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
        <a href="/files/citation-362796792.bib"><i class="far fa-file-alt"></i> BibTex</a>&nbsp;&nbsp; 
        <!--{% if page.doi %}-->
        <a href="http://dx.doi.org/10.21203/rs.3.rs-1954642/v1"><i class="fas fa-external-link-alt"></i> DOI</a>&nbsp;&nbsp;
        <!--{% endif %}-->
    </div>
</div>
{% endfor %}
