---
---
/* modify Bootstrap variables here */

@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

.pubitem {
  margin: 2em 0;
  line-height: 1em;
}
.pubtitle {
  margin-bottom: .2em;
  line-height: 1em;
  font-weight: bold;
}
.pubauthors, .pubinfo {
  font-size: 50%;
  margin-bottom: .75em;
}
.pubteaser {
  clear: both;
}
.pubteaser a {
  float: left;
  margin-right: 2em;
  
}
.pubteaser img {
  float:center;
  height:200px;
  width:200px;
  border: none;
  margin:0 2%;
}
.publinks {
  font-size: 50%;
}
