---
---
/* modify Bootstrap variables here */

@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

.pubitem {
  margin: 2em 0;
  line-height: 1em;
}
.pubtitle {
  margin-bottom: .5em;
  line-height: 1.2em;
  font-weight: bold;
}
.pubauthors, .pubinfo {
  font-size: 75%;
  margin-bottom: .75em;
}
.pubteaser {
  clear: both;
}
.pubteaser a {
  float: left;
  margin-right: 2em;
  
}
.pubteaser img {
  width: 100px;
  border: 1px solid black;
}
.publinks {
  font-size: 75%;
}
.iconDetails {
    margin:0 2%;
    float:left;
    height:40px;
    width:40px;
}
.container2 {
    width:100%;
    height:auto;
    padding:1%;
}
.text {
    float:left;
}
.text h4, .text p {
    width:100%;
    float:left;
    font-size:0.6em;
}
.text p span {
    color:#666;
}
