---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.skin-switcher {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.skin-toggle {
  display: none;
}

.skin-toggle-label {
  display: inline-flex;
  align-items: center;
  margin: 0 0.5em;
  font-size: 0.9em;
  color: #aaa;
  cursor: pointer;
}

.skin-toggle-icon {
  margin-right: 0.5em;
}

.skin-toggle:checked + .skin-toggle-label {
  color: #333;
  font-weight: bold;
}
