/*
.nav-pills {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-pills li {
  display: inline-block;
  margin-right: 10px;
}

.nav-pills li a {
  border: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
}

.nav-pills li a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-pills li.active a:after {
  width: 100%;
  left: 0;
}

.nav-pills > li.active > a {
  border: none;
  color: #333;
  font-weight: bold;
  background-color: transparent;
}

.nav-pills > li > a:hover {
  border: none;
  color: #555;
  font-weight: bold;
  #background-color: #fff;
}

.tab-content {
  display: none; 
}

.tab-content.active {
  display:block;
}*/

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.tab-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border: 0px solid #ccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #f1f1f1;
}

.tab-link:hover {
  background-color: #e1e1e1;
}

.red-line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: red;
  transition: all 0.3s ease-in-out;
  #width: 20%;
}
.tab-content {
  display: none; /* Hide all tab content */
}

.tab-content.active {
  display:block; /* Show the active tab content */
}
