.nav-pills {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-pills li {
  display: inline-block;
  margin-right: 10px;
}

.nav-pills li a {
  border-radius: 0;
  border: none;
  color: #333;
  font-weight: bold;
  margin-left: -1px;
  padding: 10px 20px;
}

.nav-pills > li.active > a,
.nav-pills > li > a:hover {
  border: none;
  color: #555;
  font-weight: bold;
  background-color: #fff;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
