---
layout: archive
---

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign powerByYear = site.powerbi | where_exp: "item", "item.hidden != true" | group_by_exp: 'powerbi', 'powerbi.date | date: "%Y"' %}
{% if powerByYear.size > 0 %}
  {% for year in powerByYear %}
      <div class="entries-{{ entries_layout }}">
        {% for post in year.items %}
          {% include archive_single_powerbi.html type=entries_layout %}
        {% endfor %}
    </div>
{% endfor %}
{% endif %}
