---
layout: archive
---

{{ content }}

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.publications | where_exp: "item", "item.hidden != true" | group_by_exp: 'publication', 'publication.date | date: "%Y"' %}
{% if postsByYear.size > 0 %}
  {% for year in postsByYear %}
    <section id="{{ year.name }}" class="taxonomy__section">
      <h2 class="archive__subtitle">{{ year.name }}</h2>
      <div class="page">
        <h1 class="mt-4 publication-title">{{ page.title }}</h1>
        <div class="publication-authors">
          {{ page.authors }}
        </div>
        <div class="publication-info">
          {{ page.publication }}, {{ page.year}}
        </div>
        <div class="publication-teaser">
          <img src="/images/publication-pages/{{ page }}.jpg" alt="project teaser"/>
        </div>
        {{ content }}
        <h2 id="downloads">Downloads</h2>
        <p>
          <a href="/files/{{ page }}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
          {% if page.slides %}
          <a href="/files/{{ page }}_slides.pdf"><i class="far fa-file-pdf"></i> Slides</a>&nbsp;&nbsp;
          {% endif %}
          <a href="/files/{{ page }}.bib"><i class="far fa-file-alt"></i> BibTex</a>&nbsp;&nbsp;
          {% if page.doi %}
          <a href="{{ page.doi }}"><i class="fas fa-external-link-alt"></i> DOI</a>&nbsp;&nbsp;
          {% endif %}
        </p>
      </div>
        {% for post in year.items %}
          {% include archive-single.html type=entries_layout %}
        {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
{% endif %}
