---
layout: archive
---

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign tableausByYear = site.tableau | where_exp: "item", "item.hidden != true" | group_by_exp: 'tableau', 'tableau.date | date: "%Y"' %}
{% if tableausByYear.size > 0 %}
  {% for year in tableausByYear %}
      <div class="entries-{{ entries_layout }}">
        {% for post in year.items %}
          {% include archive-single-tableau.html type=entries_layout %}
        {% endfor %}
    </div>
{% endfor %}
{% endif %}
